@import 'variables';

.background-line {
  position: absolute;
  height: 15px;
  width:0.5em;
  font-size:1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .background-line {
    font-size: 10px;
  }
}
