.background-line {
  position: absolute;
  height: 15px;
  width:0.8em;
  word-wrap: break-word;
  font-size:1em;
  // text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .background-line {
    font-size: 10px;
  }
}
