@import 'variables';

.test-choice {
  text-align: center;

  &__item {
    margin: 0 10px;
    font-size: 32px;
  }
}

@media (max-width: $mobile-width) {
  .test-choice {
    &__item {
      font-size: 25px;
    }
  }
}
