@import '../../../style/_variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.8;
}

.blue-theme {
  opacity: 1;
}

.content {
  position: relative;
  box-sizing: border-box;
  min-width: 50%;
  max-width: 75%;
  padding: 30px;
  border-radius: 5px;
  background-color: $pink-theme-main-color;
  z-index: 2;
}

.error {
  background-color: #ff4d4d;
}

.blue-theme .content {
  background-color: $blue-theme-main-color;
}

@media (max-width: 1023px) {
  .content {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    margin: 60px 0;
    border-radius: 0;
  }
}

@media (max-width: 480px) {
  .error {
    h2 {
      font-size: 15px;
    }
  }
}
