{
  "extends": "airbnb",
  "plugins": ["import"],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ['_id'] }],
    "no-shadow": ["error", { "allow": ['err'] }],
    "no-console": ["error", { allow: ["log", "warn", "error"] }],
    "jsx-a11y/href-no-hash": "off",
    "consistent-return": "off",
    "max-len": ["error", 120]
    }
}
