@import 'variables';

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

h2 {
  margin: 0 0 10px;
}

.recommended-words-wrapper {
  padding: 10px;
  overflow: hidden;
}

.recommended-words {
  position: relative;
  white-space: nowrap;
  animation: moveleft 400s linear infinite;
}

.recommended-word {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

@keyframes moveleft {
  from {
    left: 100%;
  }

  to {
    left: -9200px;
  }
}
