@import 'variables';

.text-input {
  margin-bottom: 0;
}

.input-wrapper {
  margin-bottom: 0;
}

.listen {
  position: absolute;
  top: 5px;
  right: 5px;
}

.learning-word {
  padding: 15px 0 10px;
  font-size: 40px;
  border-radius: 5px 5px 0 0;
}

.familiar-word {
  padding-bottom: 10px;
  border-radius: 0;
}

.time {
  position: relative;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
  font-size: 14px;

  .yandex {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
}

.buttons {
  width: 100%;
  margin-top: 20px;
}

.direction {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  cursor: pointer;

  &.left {
    left: 5%;
    transform: translateY(-50%) rotate(-135deg);
  }

  &.right {
    right: 5%;
    transform: translateY(-50%) rotate(45deg);
  }
}

@media (max-width: $mobile-width) {
  .learning-word {
    font-size: 35px;
  }

  .familiar-word {
    font-size: 17.5px;
  }

  .button {
    font-size: 20px;
  }

  .time {
    margin-bottom: 20px;

    .yandex {
      top: 125%;
      transform: none;
    }
  }
}
