@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &_main-word {
    margin-bottom: 20px;

    .letter {
      visibility: hidden;

      &.checked {
        visibility: visible;
      }
    }
  }

  &_answer {
    .letter {
      cursor: pointer;

      &:hover {
        background-color: $pink-theme-fourth-color !important;

        :host-context(.blue-theme) & {
          background-color: $blue-theme-fourth-color !important;
        }
      }

      &:active {
        transform: translate(1px, 1px);
      }

      &.selected {
        visibility: hidden;
      }
    }
  }
}

.letter {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 10px;
  // border: 2px solid black;
  font-size: 28px;
  line-height: 1.45;
  text-align: center;
  color: black;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .letters {
    &_answer {
      .letter {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .letters {
    &_main-word {
      .letter {
        width: 25px;
        height: 25px;
        margin-right: 3px;
        margin-bottom: 3px;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
