@import 'variables';

// TODO: make scss structure
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letters_main-word {
  margin-bottom: 20px;
}

.letter {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  font-size: 28px;
  line-height: 1.45;
  text-align: center;
  color: black;

  &:last-of-type {
    margin-right: 0;
  }
}

.letters_main-word .letter {
  visibility: hidden;
  font-weight: bold;
}

.letters_main-word .letter.checked {
  visibility: visible;
}

.letters_answer .letter {
  cursor: pointer;
}

.letters_answer .letter:hover {
  background-color: #ff00ff;
}

:host-context(.blue-theme) .letters_answer .letter:hover {
  background-color: #4d88ff;
}

.letters_answer .letter:active {
  transform: translate(1px, 1px);
}

.letters_answer .letter.selected {
  visibility: hidden;
}

@media (max-width: $mobile-width) {
  .letters_main-word .letter {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.5;
  }
}
