@import 'variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 20px;
}

input {
  border-radius: 5%;
}

@media (max-width: $mobile-width) {
  :host {
    display: block;
  }
}
