@import 'variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 90%;
  margin-bottom: 0;

  .text-input {
    width: 100%;
  }
}

.text-input {
  width: 90%;
}

.button {
  font-size: 20px;
}

@media (max-width: $mobile-width) {
  :host {
    display: block;
  }

  .input-wrapper {
    width: 100%;
  }

  .text-input {
    width: 100%;
  }
}
