:host {
  text-align: center;
}

h1 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  border-radius: 10%;
}

.buttons {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10%;
}
