:host {
  text-align: center;
}

.top-nav-menu {
  margin: 0 auto;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  border-radius: 10%;

  a {
    padding: 0 20px 11px;
    border-bottom: 2px solid;
  }
}

.buttons {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10%;
}

@media (max-width: 480px) {
  .top-nav-menu {
    a {
      font-size: 15px;
    }
  }
}
