$main-font: 'Ubuntu', 'Helvetica', sanserif;

$tablet-width: 1023px;
$mobile-width: 480px;

$pink-theme-main-color: #ff99dd;
$pink-theme-second-color: purple;
$pink-theme-third-color: #ffb9e8;
$pink-theme-fourth-color: #ff76d1;

$blue-theme-main-color: #33ccff;
$blue-theme-second-color: #0043ff;
$blue-theme-third-color: #6cdaff;
$blue-theme-fourth-color: #00bfff;
