.theme-color-border {
  border-color: $pink-theme-second-color !important;

  .blue-theme & {
    border-color: $blue-theme-second-color !important;
  }
}

.theme-color-text-main-color {
  color: $pink-theme-main-color !important;

  .blue-theme & {
    color: $blue-theme-main-color !important;
  }
}

.theme-color-text-second-color {
  color: $pink-theme-second-color !important;

  .blue-theme & {
    color: $blue-theme-second-color !important;
  }
}

.theme-color-background-third-color {
  background-color: $pink-theme-third-color !important;

  .blue-theme & {
    background-color: $blue-theme-third-color !important;
  }
}

.theme-color-background-fourth-color {
  background-color: $pink-theme-fourth-color !important;

  .blue-theme & {
    background-color: $blue-theme-fourth-color !important;
  }
}
