.theme-color-border {
  border-color: $pink-theme-second-color !important;

  .blue-theme & {
    border-color: $blue-theme-second-color !important;
  }
}

.theme-color-text-main-color {
  color: $pink-theme-main-color !important;

  .blue-theme & {
    color: $blue-theme-main-color !important;
  }
}

.theme-color-text-second-color {
  color: $pink-theme-second-color !important;

  .blue-theme & {
    color: $blue-theme-second-color !important;
  }
}
