@import 'variables';

:host {
    min-width: 50%;
}

.precise-answer {
    width: 100%;
    height: auto;
    font-size: 50px;
    margin-top: 18px;
}

.incorrect {
    color: rgba(255, 0, 0, 0.8) !important;
    border-color: rgba(255, 0, 0, 0.8) !important;
}

@media (max-width: $mobile-width) {
    .precise-answer {
        font-size: 35px;
    }
}
