@import 'variables';

.percent {
  font-size: 20px;
}

.description {
  margin: 0;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0 10px 20px;
  padding: 10px 0 0;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.word {
  position: relative;
  padding: 2px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.type-of-test {
  display: inline-block;
  margin-top: auto;
  padding: 10px 0;
  border-top: 2px solid black;
  border-radius: 0 0 7px 7px;
}

@media (max-width: $mobile-width) {
  h1 {
    font-size: 26px;
  }

  .card {
    width: 130px;
    margin: 0 6px 10px;
    font-size: 16px;
  }
}
