.themes {
  margin-bottom: 10px;
}

.option-item {
  margin-right: 15px;
  font-size: 20px;

  &_title {
    font-size: 15px;
    font-weight: bold;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .option-item {
    font-size: 16px;

    &_title {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
