:host {
  display: block;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
}

.answers {
  &__answer {
    display: block;
    font-size: 20px;
  }

  &_right {
    color: darkblue;
  }

  &_wrong {
    color: red;
  }
}
