@import 'variables';

:host {
  width: 90%;
}

.answers {

}

.answer {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: none;
  font-size: 28px;
  cursor: pointer;
  text-transform: capitalize;
  // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (max-width: $tablet-width) {
  :host {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .answer {
    font-size: 18px;

    &:hover {
      color: inherit !important;
    }
  }
}
