@import 'variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div {
  margin: 0 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: $mobile-width) {
  .recommended-words {
    display: none;
  }
}
