@import 'style/variables.scss';
@import 'style/animation.scss';
@import 'style/colors.scss';

body {
  font-family: $main-font;
  background-color: black;
}

select::-ms-expand {
    display: none;
}

h1 {
  margin: 0 0 20px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: $pink-theme-second-color;
    opacity: 1 !important;
  }

  .blue-theme &:hover {
    color: $blue-theme-second-color;
  }

  &.active {
    color: $pink-theme-second-color !important;
  }

  .blue-theme &.active {
    color: $blue-theme-second-color !important;
  }
}

button, input {
  font-family: $main-font;
  color: black;
}

.side-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  padding-right: 10px;
  font-size: 22px;
  text-align: right;
  background-color: transparent;
  transform: translate(-100%, -50%);

  &_right {
    left: auto;
    right: 0;
    padding-right: 0;
    padding-left: 10px;
    text-align: left;
    transform: translate(100%, -50%);
  }

  &__item {
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);

    &:active {
      color: $pink-theme-main-color !important;

      .blue-theme & {
        color: $blue-theme-main-color !important;
      }
    }

    &:hover {
      color: $pink-theme-main-color !important;

      .blue-theme & {
        color: $blue-theme-main-color !important;
      }
    }
  }
}

.buttons {
  text-align: center;
}

.button {
  border: 0;
  outline: 0;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;

  &_red-hover:hover {
    color: red !important;
  }

  &[disabled] {
    visibility: hidden;
    cursor: auto !important;
  }

  &:hover {
    color: $pink-theme-second-color;
  }

  .blue-theme &:hover {
    color: $blue-theme-second-color;
  }

  &.active {
    color: $pink-theme-second-color !important;
  }

  .blue-theme &.active {
    color: $blue-theme-second-color !important;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.input-title {
  margin: 0 0 10px;
  font-weight: normal;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  .text-input {
    width: 100%;
  }

  .prompt {
    position: absolute;
    top: 72%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;

    &_right {
      text-align: right;
    }
  }
}

.text-input {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  background-color: $pink-theme-third-color;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;

  .blue-theme & {
    background-color: $blue-theme-third-color;
  }

  &::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.5); }
  &::-moz-placeholder          { color: rgba(0, 0, 0, 0.5); }
  &:-ms-input-placeholder      { color: rgba(0, 0, 0, 0.5); }
}

select.text-input {
  text-align: left;
}

.listen {
  position: relative;
  right: -5px;
  top: 3px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.option-item {
  margin-right: 15px;
  font-size: 20px;

  &_title {
    font-size: 15px;
    font-weight: bold;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .side-panel {
    flex-direction: row;
    justify-content: space-around;
    top: auto;
    left: 0;
    bottom: -40px;
    width: 100%;
    padding: 0;
    transform: none;

    &__item {
      margin: 0;
    }

    &_left {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 3;
      padding: 10px 0;
      background: white;

      .blue-theme & {
        border-color: $blue-theme-fourth-color;
      }

      .side-panel__item {
        color: $pink-theme-fourth-color !important;

        .blue-theme & {
          color: $blue-theme-fourth-color !important;
        }
      }
    }
  }

  a {
    &:hover {
      color: inherit;
    }

    .blue-theme &:hover {
      color: inherit;
    }
  }

  .button {
    &:hover {
      color: inherit;
    }

    .blue-theme &:hover {
      color: inherit;
    }
  }

  .listen {
    display: none;
  }

  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: $mobile-width) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  .form {
    width: 80%;
  }

  .input-wrapper {
    width: 100%;
  }

  .text-input {
    width: 100%;
  }

  .option-item {
    font-size: 16px;

    &_title {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
