@import 'style/_variables.scss';
@import 'style/colors.scss';

body {
  font-family: $main-font;
  background-color: black;
}

h1 {
  margin: 0 0 20px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: $pink-theme-second-color;
  }

  .blue-theme &:hover {
    color: $blue-theme-second-color;
  }
}

// TODO: divide elements

.side-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  font-size: 22px;
  text-align: right;
  background-color: transparent;
  transform: translate(-115%, -50%);

  &__item {
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: gray;

    &:active {
      color: white;
    }

    &:hover, .blue-theme &:hover {
      color: white;
    }
  }
}

.button {
  border: 0;
  outline: 0;
  font-size: 25px;
  font-family: $main-font;
  cursor: pointer;
  background-color: transparent;

  &[disabled] {
    color: grey !important;
    cursor: auto !important;
  }

  &:hover {
    color: $pink-theme-second-color;
  }

  &.active {
    color: $pink-theme-second-color;
  }

  .blue-theme &:hover {
    color: $blue-theme-second-color;
  }

  .blue-theme &.active {
    color: $blue-theme-second-color;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.text-input {
  height: 30px;
  width: 80%;
  margin-bottom: 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  border-radius: 10%;
  font-size: 20px;
  text-align: center;

  &::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.5); }
  &::-moz-placeholder          { color: rgba(0, 0, 0, 0.5); }
  &:-ms-input-placeholder      { color: rgba(0, 0, 0, 0.5); }
}

@media (max-width: 480px) {
  .text-input {
    width: 100%;
  }
}

// TODO: make width as variables
@media (max-width: 1023px) {
  .theme-color-hover {
    &:hover {
      color: inherit;
    }
  }

  .side-panel {
    flex-direction: row;
    justify-content: space-around;
    top: auto;
    left: 0;
    bottom: -45px;
    width: 100%;
    transform: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
}
