:host {
  text-align: center;
}

.sort {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid darkblue;
  font-size: 20px;

  &:last-of-type {
    border-right: 0;
  }
}

@media (max-width: 480px) {
  .sort {
    font-size: 16px;
  }
}
