:host {
  text-align: center;
}

h1 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  border-radius: 10%;
}

.option-item {
  margin-right: 15px;
  font-size: 20px;

  &_title {
    font-size: 15px;
    font-weight: bold;
  }
}

.buttons {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10%;
}

@media (max-width: 480px) {
  .option-item {
    font-size: 16px;

    &_title {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
